        <!-- Custom Fonts -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">

        <link rel="stylesheet" href="{{ site.baseurl }}/static/css/bulma-1.0.4/bulma/css/bulma.css" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/static/css/syntax.css" />

        <!-- Custom CSS -->        
        <link rel="stylesheet" href="{{ site.baseurl }}/static/css/thickbox.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/static/css/main.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/static/css/projects.css" />
        <style> 
        </style>

        <script type="text/javascript">
          //loadingImage is relative to project dir
          var tb_pathToImage = "{{ site.baseurl }}/static/img/loadingAnimation.gif";
        </script>
