<div class="hero is-dark is-small mb-6">
  <div class="hero-body">
    <!-- This div contains the author name, avatar, and link/icons-->
    <div class="columns">
      <div class="column media">
        <!-- This section is the Name, and icon-links-->
        <div class="media-left">
          <figure class="image is-96x96">
            <img id="about" class="is-rounded" src="/static/img/{{ site.logo }}">
          </figure>
        </div>

        <div class="media-content">
          <h4 class="title is-family-monospace has-text-primary-60">{{ site.author }}</h4>
          <p class="subtitle mb-1">{{ site.about }}</p>
          <p class="subtitle is-6"><i class="fa fa-envelope"></i> {{ site.email }}</p>
          <!--{% include social_links.html %}-->
        </div>
      </div>
      <!-- this is the page title section-->
      <!-- <div class="column is-flex is-flex-direction-row"> -->
        <!-- <a href="/" class="is-align-content-center"> -->
          <!-- <h2 class="title is-family-monospace"> > {{ page.title }}</h2> -->
        <!-- </a> -->
      <!-- </div> -->
    </div>
  </div>
</div>