<ul class="menu-list list-separator nav navbar-nav well well-primary {{ page.layout }}">
<!-- This is everything inside the nav bar -->
{% for i in site.data.urls %}
	{% assign current = nil %}
	{% assign pageurl = page.url | split:'/' | last %}
	{% assign menuurl = i.url | split:'/' | last %}
	{% assign linkurl = nil %}
	{% if i.url contains '://' %}
		{% assign linkurl = i.url %}
	{% else %}
		{% assign linkurl = i.url | prepend: site.baseurl %}
	{% endif %}
	{% assign target = i.target %}
    {% unless target %} 
		{% assign target = '_self' %} 
	{% endunless %}
	{% if pageurl == menuurl or page.layout == i.layout %}
		{% assign current = 'current-menu-item' %} 
	{% endif %}
	<!-- this actually generates the links and images-->
	<li class="{{ current }} is-family-monospace">
		<a href="{{ linkurl }}" target="{{ target }}" class="is-size-5 py-4 mb-2"><i class="fa {{ i.icon }}"></i> {{ i.text }}</a>
	</li>
{% endfor %}
</ul>
