---
layout: default
---

<div class="box">
    <div class="row">
        <div style="float:left" class="col-md-8 col-sm-6">
            <h1 class="title is-family-monospace has-text-primary-60">About {{site.author}}</h1>
            <div class="columns">
                <div class="column is-one-fifth">
                    <img style="float:right" class="image" src = "/static/img/Jay_Coughlan_Full.png"></img>
                </div>
                <table class="table column is-striped">
                    <tr><td><b>Email:</b></td><td>JayCoughlan@protonmail.com</h4></td></tr>
                    <tr><td><b>Skills:</b></td><td>Programming, Game Development, C#, C++, Java</h4></td></tr>
                    <tr><td><b>Education:</b></td><td>
                        <ul><li>Vancouver Film School (Game Design)</li>
                        <li> BCIT (Computer Systems Technology)</li></ul>
                        </h4></td></tr>
                    <tr><td><b>Interests:</b></td><td>Dragons, video games, tea, fantasy novels, fantasy novels about dragons, Pokémon, writing, dungeons and dragons, and not being killed by dragons in dungeons and dragons.</h4></td></tr>
                </table>
            </div>
        </div>
    </div>
    <div style="clear:both"><br></div>
    <div class="container content has-text-light">
        {{content}}
    </div>

</div>

<!--
    <td><h4><i class="fa fa-envelope"></i></td>
    <td><h4><i class="fa fa-tasks"></i></td>
    <td><h4><i class="fa fa-graduation-cap"></i></td>
    <td><h4><i class="fa fa-gamepad"></i></td>
-->