---
layout: default
---

<div class="well">
    <div >
        <h2>About Jay Coughlan</h2>
        <div class="row">
            <div style="float:left" class="col-md-8">
                <h4><b>Skills:</b> Programming, Game Design</h4>
                <h4><b>Hobbies:</b> Video Games, Tea, Being Generally Nice</h4>
                <h4><b>Education:</b> Vancouver Film School (Game Design), BCIT (Computer Systems Technology)</h4>
            </div>
            <img style="float:right" class="col-md-4" src = "{{site.logo}}"></img>
        </div>
    </div>
    <div style="clear:both"></div>
    <div>
        {{content}}
    </div>

</div>