---
layout: default
---
<div class="box">
    <div>
        <h1 class="title is-family-monospace has-text-primary-60"><i class= {% if page.icon %}"fa {{page.icon}}"{% else %}"fa fa-github-square"{% endif %}></i> {{site.data.projects[page.projectNum].name}}</h1>
        <div class="columns">
            <img class="column is-one-third image" src="/static/projects/{{site.data.projects[page.projectNum].image}}"></img>

            <div class="column has-text-light">
                <table class="table is-fullwidth is-striped">
                    <tbody>
                        <tr>
                            <td><b>Language</b></td>
                            <td>
                                <ul class="tags">
                                {%if site.data.projects[page.projectNum].languages %}
                                    {% for i in site.data.projects[page.projectNum].languages %}
                                        <li class="tag">{{i}}</li>
                                    {% endfor %}
                                {% endif %}

                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Technologies</b></td>
                            <td>
                                <ul class="tags">
                                    {%if site.data.projects[page.projectNum].techs %}
                                        {% for i in site.data.projects[page.projectNum].techs %}
                                            <li class="tag">{{i}}</li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Development Time</b></td>
                            <td>{{site.data.projects[page.projectNum].startDate}} - {{site.data.projects[page.projectNum].endDate}}, {{site.data.projects[page.projectNum].devTime}}</td>
                        </tr>
                        <tr>
                            <td><b>Company</b></td>
                            <td>{{site.data.projects[page.projectNum].company}}</td>
                        </tr>
                        <tr class="success">
                            {% if site.data.projects[page.projectNum].repo != "n/a" %}
                                <td>
                                    <h4><i class="fa fa-github-square"></i> Find the Repo <a href="{{ site.data.projects[page.projectNum].repo }}"><b class="is-clickable">Here</b></a></h4> 
                                </td>
                            {% endif %}
                            {% if site.data.projects[page.projectNum].download != "n/a" %}
                                <td>
                                    <h4><i class="fa fa-file-zip-o"></i> Download the Project <a href="{{ site.data.projects[page.projectNum].download }}"><b class="is-clickable">Here</b></a></h4> 
                                </td>
                            {% endif %}
                            {% if site.data.projects[page.projectNum].moreInfo != "n/a" %}
                                <td>
                                    <h4><i class="fa-solid fa-arrow-up-right-from-square"></i> Learn More <a href="{{ site.data.projects[page.projectNum].download }}"><b class="is-clickable">Here</b></a></h4> 
                                </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>

        <table class="table table-responsive table-bordered">

        </table>
    </div>
    <br>
    <div class="content has-text-light">
        {{content}}
    </div>
</div>