---
layout: default
---

<div class="well">
    <div>
        <h4 class="home-subtitle">{{site.data.projects[page.projectNum].name}}</h4>
        <div class="row">
            <div style="float:left" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <table class="table table-responsive table-striped" style="float:left">
                    <tr>
                        <td><b>Language</b></td>
                        <td>
                            <ul>
                            {%if site.data.projects[page.projectNum].languages %}
                                {% for i in site.data.projects[page.projectNum].languages %}
                                    <li>{{i}}</li>
                                {% endfor %}
                            {% endif %}

                            </ul>
                        </td>
                    </tr>
                     <tr>
                        <td><b>Technologies</b></td>
                        <td>
                            <ul>
                                {%if site.data.projects[page.projectNum].techs %}
                                    {% for i in site.data.projects[page.projectNum].techs %}
                                        <li>{{i}}</li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Development Time</b></td>
                        <td>{{site.data.projects[page.projectNum].startDate}} - {{site.data.projects[page.projectNum].endDate}}</td>
                    </tr>
                </table>
            </div>
            <img style="float:right" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 image-responsive" src="/static/img/{{site.data.projects[page.projectNum].image}}"></img>
        </div>
        <div style="clear:both"></div>
    </div>
    <br>
    <div>
        {{content}}
    </div>
</div>