---
layout: default
title: Resume
---

<article class="message is-info">
    <div class="message-body">
        <h1><i class="fa fa-file-pdf-o"></i> Download the PDF Version <a href="/static/files/{{ site.data.resume[0].file }}">Here</a></h1>
    </div>
</article>

<div class="content box">
    <center> 
        <h1 class="title is-family-monospace">{{ site.author }}</h1>
        <h3 class="subtitle is-family-monospace"> Email: {{ site.email }}</h3>
    </center>
    <hr>
    <div>
        {{ content }}
    </div>
</div>