---
layout: default
title: Resume
---

<article class="message is-info">
    <div class="message-body">
        <h1><i class="fa fa-file-pdf-o"></i> Download the PDF Version <a href="/static/files/{{ site.data.resume[0].file }}">Here</a></h1>
    </div>
</article>

<div class="content box">
    <center> 
        <p class="title is-1 is-family-monospace has-text-primary-60">{{ site.author }}</p>
        <p class="subtitle is-4 is-family-monospace has-text-primary-60"> Email: {{ site.email }}</p>
    </center>
    <hr>
    <div class="has-text-light">
        {{ content }}
    </div>
</div>